<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Mansur Gulami">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{for(key, value, meta_data)
    <meta property="{{key}}" content="{{value}}" />
    }}

    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

{{content}}

<script>
    const html = document.documentElement
    const LS_KEY = "isDark"
    const isUserPreferenceDark = () => {
        if (localStorage.getItem(LS_KEY)) {return localStorage.getItem(LS_KEY) === "true"}
        return window.matchMedia('(prefers-color-scheme: dark)').matches
    }
    const isDark = isUserPreferenceDark()
    if (isDark) {
        html.classList.add("dark")
    } else {
        html.classList.remove("dark")
    }
    localStorage.setItem(LS_KEY, isDark)
    const btns = document.getElementsByClassName('theme-switch')
    for (let btn of btns) {
        btn.innerHTML = isDark ? "light" : "dark"
        btn.addEventListener('click', (event) => {
            const isThemeDark = isUserPreferenceDark()
            if (isThemeDark) {
                html.classList.remove("dark")
            } else {
                html.classList.add("dark")
            }
            localStorage.setItem(LS_KEY, !isThemeDark)
            btn.innerHTML = isThemeDark ? "dark" : "light"
        })
    }
</script>

</body>
</html>