<main class="page-content">
    <div class="wain">
        <header>
            <h1 title="rhaeguard's stuff"><a href="https://github.com/rhaeguard">rhaeguard</a>'s stuff.</h1>
            <button class="theme-switch">dark</button>
        </header>
        
        <ul>
            <li>some cool side projects</li>

            <ul>
                {{for(project, projects)
                    <li><a target="_blank" href="{{project['url']}}">{{project['title']}}</a></li>
                }}
            </ul>

            <li>all posts</li>
            <ul>
                {{for(post, posts)
                    {{when(post['draft'] == 'false')
                        <li><span>{{format_date(post['date'])}}</span>&nbsp;<a href="/posts/{{post['filename']}}">{{post['title']}}</a></li>
                    }}
                }}
            </ul>
        </ul>

    </div>
</main>