<main class="page-content">
    <div class="wain">
        <a href="/">home</a>
        <button class="theme-switch">dark</button>
        <article>
            <p class="post-meta">
                <time datetime="{{date}}">
                    {{format_date(date)}}
                </time>
            </p>

            <h1>{{title}}</h1>
            
            {{when(github)
            <div class="link-preview">
                <div class="header">Github Repository</div>
                <div class="body">
                    <a href="https://github.com/{{github}}" target="_blank">{{github}}</a>
                </div>
            </div>
            }}

            {{content}}
        </article>
    </div>
</main>